TOKEN="You can get it from this URL:https://discord.com/developers/applications/"
CHANNEL_ID="You can get it by right-click the channel in discord"
API_URL="https://media.uu-circles.com/wp-json/wp/v2/posts?context=embed&after=2021-04-13T18:00:00&before=2021-04-14T18:00:00"
