@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

html,
body {
  @apply bg-gray-50;
}

/* Write your own custom component styles here */
.btn-blue {
  @apply px-4 py-2 font-bold text-white bg-blue-600 rounded;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
:root {
  --swiper-navigation-size: 24px;
}

.min-w-120 {
  min-width: 120px;
}

.square-image {
  width: 100px !important;
  height: 100px !important;
}

.tag-title::before {
  content: '#';
}

/* swiper右左デザイン */
.swiper-button-next {
  margin-right: 8px;
}
.swiper-button-next::after {
  color: #c4c4c4 !important;
}
.swiper-button-prev {
  margin-left: 8px;
}
.swiper-button-prev::after {
  color: #c4c4c4 !important;
}
