@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

html,
body {
  @apply bg-gray-50;
}

/* Write your own custom component styles here */


/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
:root {
  --swiper-navigation-size: 24px;
}

.min-w-120 {
  min-width: 120px;
}

.square-image {
  width: 100px !important;
  height: 100px !important;
}

.max-line-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.max-line-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* swiper右左デザイン */
.swiper-button-next {
  @apply mr-2;
}
.swiper-button-next::after {
  @apply text-gray-300;
}
.swiper-button-prev {
  @apply ml-2;
}
.swiper-button-prev::after {
  @apply text-gray-300;
}

/** WordPress */
.wp-cardtype__img {
  margin: 0;
  overflow: hidden;
  position: relative;
  height: 0;
  padding-bottom: 57.7%;
}
