@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

html,
body {
  @apply bg-gray-900;
}

/* Write your own custom component styles here */
.btn-blue {
  @apply px-4 py-2 font-bold text-white bg-blue-500 rounded;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
.min-w-120 {
  min-width: 120px;
}

.square-image {
  width: 100px !important;
  height: 100px !important;
}

.react-datepicker__header {
  @apply bg-gray-200;
}

.react-datepicker__current-month {
  @apply text-blue-800 text-sm;
}

.react-datepicker__input-container input {
  @apply px-4 py-2 transition duration-300 border border-gray-300 rounded focus:border-transparent focus:outline-none focus:ring-4 focus:ring-blue-200;
}
